.App {
  padding: 20px 20px;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  ;
  grid-template-rows: 70px 1fr;
  
}
.header{
  grid-area: "header";
}
.main{
  grid-area: "main";
  padding-top: 200px;
}




